{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "<BUILTIN_MODULES>",
    "^@\/",
    "^[./]"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
