@theme {
  /* Colors */
  --color-brand-50: oklch(91.2% 0.035266 285.7);
  --color-brand-100: oklch(83.2% 0.068228 286.7);
  --color-brand-200: oklch(76.2% 0.095595 283.2);
  --color-brand-300: oklch(66.1% 0.149225 281.1);
  --color-brand-400: oklch(59% 0.176124 279.9);
  --color-brand-500: oklch(55.7% 0.250499 280.3);
  --color-brand-600: oklch(47.3% 0.197796 277.1);
  --color-brand-700: oklch(39.5% 0.123308 278.1);
  --color-brand-800: oklch(35.3% 0.094275 279.4);
  --color-brand-900: oklch(31.5% 0.073943 280.2);
  --color-brand-950: oklch(25.68% 0.0574 281.58);

  --color-gray-50: oklch(94.6% 0.015934 253.3);
  --color-gray-100: oklch(90.9% 0.019625 252.9);
  --color-gray-200: oklch(76.5% 0.028358 255.1);
  --color-gray-300: oklch(49.3% 0.023381 274.4);
  --color-gray-400: oklch(36.5% 0.025525 278.2);
  --color-gray-500: oklch(33% 0.026198 278);
  --color-gray-600: oklch(30.1% 0.023658 278);
  --color-gray-700: oklch(26.6% 0.017426 285.2);
  --color-gray-750: oklch(24.75% 0.017 285.09);
  --color-gray-800: oklch(21.3% 0.015673 285);
  --color-gray-900: oklch(17.4% 0.008432 274.4);

  --color-error-100: oklch(0.6779 0.2102 23.83);

  --color-level-beginner: var(--color-gray-100);
  --color-level-intermediate: #f2b48a;
  --color-level-advanced: #ff819e;

  /* Typography */
  --title1: 32px/40px var(--pretendard);
  --title2: 24px/32px var(--pretendard);
  --title3: 20px/28px var(--pretendard);
  --body1: 18px/28px var(--pretendard);
  --body2: 16px/24px var(--pretendard);
  --body3: 14px/20px var(--pretendard);
  --caption: 12px/16px var(--pretendard);

  /* Breakpoint */
  --breakpoint-tablet: 744px;
  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1400px;
}
