@import 'tailwindcss';
@import '../styles/index.css';

:root {
  --background: var(--color-gray-900);
  --text-color-white: #fff;
  --pretendard:
    'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

html {
  font-family: var(--pretendard);
}

body {
  background-color: var(--background);
  color: var(--text-color-white);
}
